{% extends "staff.html" %}
{% block content %}
<!-- code in here to display a list of books-->
<style>
body {
   text-align: center; background-size: cover
  }


th {
  height: 70px;
  text-align: left;
  padding: 5px;
}
td {
  height: 70px;
  text-align: left;
  padding: 5px;
}
h1 {
text-align: center;color:black;
}
h2 {
text-align: center;color:black;
}</style>


<h1>Book List</h1>
<h2>A list of all books in our collection</h2>

<table>
    <tr><th>Book ID</th><th>Title</th><th>Author</th><th>Type</th><th>Year of Publication</th><th>Description</th></tr>
    <tbody class="table-group-divider">
    {% for book in booklist %}
        <tr>
            {% for entry in book %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}