<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width , initial-scale=1.0">
  <title>Staff dashboard</title>
  <link rel="stylesheet" href="/static/navbar.css">

  <!-- iconscout css -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  


<script>

    $(function() {
      $(".toggle").on ("click", function(){
          if ($(".item").hasClass("active")){
            $(".item").removeClass("active");

          }
          else{
            $(".item").addClass("active");
          }
      })
    });

</script>
</head>
                                                                                              
<body>

   <!--Navigation bar-->

    <nav>
      <div class="logo-name">
          <div class="logo-image">
              <img src="/static/logo.jpg" alt="">
          </div>
          <span class="logo_name">Lincoln Library</span>
      </div>

      <div class="menu-items">
          <ul class="nav-links">
              <li><a href="{{ url_for('staff') }}">
                  <i class="uil uil-estate"></i>
                  <span class="link-name">Home</span>
              </a></li>
              <li><a href="{{ url_for('borroweradd') }}">
                  <i class="uil uil-files-landscapes"></i>
                  <span class="link-name">Add Borrower</span>
              </a></li>
              <li><a href="{{ url_for('loanbook') }}">
                  <i class="uil uil-chart"></i>
                  <span class="link-name">Issuebook</span>
              </a></li>
              <li><a href="{{ url_for('returnbook') }}">
                  <i class="uil uil-thumbs-up"></i>
                  <span class="link-name">Returnbook</span>
              </a></li>
              <li><a href="#">
                  <i class="uil uil-comments"></i>
                  <span class="link-name">Report</span>
              </a></li>
              
          </ul>
          
          <ul class="logout-mode">
              <li><a href="#">
                  <i class="uil uil-signout"></i>
                  <span class="link-name">Logout</span>
              </a></li>

              <li class="mode">
                  <a href="#">
                      <i class="uil uil-moon"></i>
                  <span class="link-name">Dark Mode</span>
              </a>

              <div class="mode-toggle">
                <span class="switch"></span>
              </div>
          </li>
          </ul>
      </div>
  </nav>

  
<div class="container">
  <header>New Borrower</header>
    <form action="/borrower/add" method="POST">
      <div class="form first">
        <div class="fields">
          <div class="input-field">
              <label for="add firstname">First Name</label>
              <input type="text" id="firstname" name="firstname" placeholder="Enter your first name" required>
          </div>

          <div class="input-field">
            <label for="add familyname">Family Name</label>
            <input type="text" id="familyname" name="familyname" placeholder="Enter your family name" required>
          </div>

          <div class="input-field">
              <label>Date of Birth</label>
              <input type="date" id="dateofbirth" name="dateofbirth" placeholder="Enter birth date" required>
          </div>

          <div class="input-field">
            <label for="add housenumbername">Housenumbername</label>
            <input type="text" id="housenumbername" name="housenumbername" placeholder="Enter your house number name" required>
          </div>

          <div class="input-field">
            <label>Street</label>
            <input type="text" id="street" name="street" placeholder="Enter your street" required>
          </div>

          <div class="input-field">
            <label>Town</label>
            <input type="text" id="town" name="town" placeholder="Enter your town" required>
          </div>

          <div class="input-field">
            <label>City</label>
            <input type="text" id="city" name="city" placeholder="Enter your city" required>
          </div>

          <div class="input-field">
            <label>Postalcode</label>
            <input type="number" id="postalcode" name="postalcode" placeholder="Enter your postcode" required>
          </div>

          <div class="buttons">
            <input type="submit" value="Add">
          </div>
          
          <div class="reset">
            <input type="reset" value="Reset">
           </div>

        </div>

     </div> 


  </form>
</div>
  

  <section class="content">

    <header>
      {% block header %}{% endblock %}
    </header>
   
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
  
  <!-- JavaScript Bundle with Popper -->
  
  <script src="/static/nav.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
  
  
  </html>