{% extends "staff.html" %}
{% block content %}
<h1>Loan History Report
    <style>
            body {
   text-align: center; background-size: cover
  }

table {
  width:30%;
  border-collapse: collapse;
  border: 2px solid;
}

th {
  height: 30px;
  text-align: left;
  padding: 5px;
}
td {
  height: 30px;
  text-align: left;
  padding: 5px;
}
    h1 {
        text-align: center;color: black;
    }</style>
</h1>
<!--use  bootstrap table formatting to get table hover -->
<table class="table border-primary table-hover" >
    <thead>
        <tr>
        
          <th scope="col">Book Title</th>
          <th scope="col">Times Borrowered</th>
        
        </tr>
      </thead>
 <tbody class="table-group-divider">

  {% for loan in mostloanlist %}
  <tr><td>{{loan[0]}}</td>

  <td>{{loan[1]}}</td></tr>

  {%endfor%}
</tbody>
</table>





{% endblock %}