{% extends "staff.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Borrower Add</title>
  <link rel="stylesheet" href="/static/navbar.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script>
    $(function() {
      $(".toggle").on("click", function() {
        if ($(".item").hasClass("active")) {
          $(".item").removeClass("active");
        } else {
          $(".item").addClass("active");
        }
      });
    });
  </script>
</head>
<body>
  <header>
    <nav>
      <ul class="menu">
        <li class="logo"><a href="#">Admin Dashboard</a></li>
        <li class="item"><a href="{{ url_for('staff') }}">Home</a></li>
        <li class="item"><a href="{{ url_for('borroweradd') }}">Add Borrower</a></li>
        <li class="item"><a href="{{ url_for('loanbook') }}">Issue Book</a></li>
        <li class="item"><a href="{{ url_for('returnbook') }}">Return Book</a></li>
        <li class="item button"><a href="#">Login</a></li>
        <li class="item button secondary"><a href="#">Sign Up</a></li>
        <li class="toggle"><span class="bars"></span></li>
      </ul>
    </nav>
  </header>

  <!-- Your additional content for borroweradd.html goes here -->

{% endblock %}
</body>
</html>
