{% extends "staff.html" %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Overdue Report</title>
  <link rel="stylesheet" href="/static/chart1.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="chart1.js"></script>
</head>
<body>
  <div class="container">
    <div class="chart">
      <canvas id="barChart"></canvas>
    </div>
  </div>
  <table class="table border-primary table-hover">
    <thead>
      <tr>
        <th scope="col">Borrower</th>
        <th scope="col">Book Title</th>
        <th scope="col">Format</th>
        <th scope="col">Overdue Days</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% set currentname = namespace(id=0) %}
      {% for book in overduebooks %}
      <tr>
        {% set fname=book[2] %}
        {% set lname=book[3] %}
        {% set name=fname+ " " + lname %}
        {% if currentname.id != book[0] %}
        <td>{{ name }}</td>
        {% set currentname.id = book[0] %}
        {% else %}
        <td></td>
        {% endif %}
        <td>{{ book[1] }}</td>
        <td>{{ book[5] }}</td>
        <td>{{ book[4] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
{% endblock %}
